.home-image-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fbf3e8;
  }
  
  .home-image {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
  }